input{
	twitter {
	    consumer_key => "bdsZrMOLXLGSMV3h4ECsGd5be"
	    consumer_secret => "xt5SvspZa8BFJP40gl3U99zTk8TDBYZ8cMun9vEaD0Q4BG9mlK"
	    oauth_token => "1917239948-WiJ8Y2I7qAi29rVEUKX8yoCgb6aJmwDHCfFF9qP"
	    oauth_token_secret => "ZCb4VHrxhV9403yKY8dQxLJLSaTkmmJdXIvw2cG2vkn67"
	    keywords => ["nba"]
	    full_tweet => true
            languages => ["en"]
	}
}
output{
  elasticsearch {
    index => "twitter_nba"
  }
  file {
    codec => "json"
    path => ["/home/wayne/Desktop/homework1/nba.json"]
  }

}
